<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Seller, <%= @inventory_item.user.username  %>, has requested a change to the following inventory item.
      Please <a href="<%= new_user_session_url %>">log in</a> to make these changes. </p>
	<p>
	    <table border=1 style="border-collapse: collapse;">
	      <thead>
	        <tr>
				<th>Item Id</th>
	  		  	<th>Name</th>
	            <th>Top Level Category</th>
	            <th>Second Level Category</th>
	        </tr>
	      </thead>
	      <tbody>
	          <tr>
				<td><%= @inventory_item.id%></td>
	  		  	<td><%= item_name(@inventory_item)%></td>
	            <td><%= @inventory_item.top_level_category.name%></td>
	            <td><%= @inventory_item.second_level_category.name%></td>
	          </tr>
	      </tbody>
	    </table>
	</p>
	<h2>Change Description</h2>
	<p><%= @description %>
  </body>
</html>