<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="row-fluid loginContainer">
  <div class="span4"></div>
  <div class ="span4 well" style="min-width:260px;">
    <h2 style="margin-bottom: 10px;">Sign In</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? %>
        <label class="checkbox">
          <%= f.check_box :remember_me %> Remember me
        </label>
      <% end %>

      <div style="margin-top:10px;"><%= f.submit "Sign in", {:class => "btn"} %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#user_login").focus();
	});
</script>
