<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= bootstrap_form_for @settings do |f| %>
	<div class="container-fluid">
		<%= f.error_messages %>
		<div class="row">
		  	<div class="col-md-12">
		  		<fieldset>
					<legend>Paypal Account</legend>
					<p>
					<% if @settings.account_confirmed? %>
						<span class="confirmedAccount">
							<i class="icon-ok-sign"></i>
							Paypal account confirmed
						</span>
					<% else %>
						<span class="unconfirmedAccount">
							<i class="icon-exclamation-sign"></i>
							Paypal account not confirmed
						</span>
					<% end %>
					</p>
					<div class="row">
						<div class="col-md-12">
							<p>
								In order for you to accept online payments through Paypal we first need to verify your account. Enter the email address and names associated with your Paypal account below. We will verify your account with Paypal and you will be redirected to the Paypal site to log in and grant <%= @site_settings.site_name %> permission to process refunds. We need this permission to refund buyers if orders are cancelled or not fulfilled.
							</p>
							<p>
								You must also have a Paypal business account in order to receive online payments. You can <a href="https://www.paypal.com/signup/account">sign up for a new Paypal business account</a> or <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_run-signup-upgrade-link">upgrade your existing account</a> if you need to.
							</p>
							<p>
								If you recieve errors when trying to confirm your account, please ensure that you have a business account and that the names and email address entered below match those that Paypal has on record for you.
							</p>
							<p>
								Paypal charges a fee of 2.9% plus $.30 per transaction for processing payments.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<%= f.text_field :first_name %>
							<%= f.text_field :last_name %>
							<%= f.text_field :email_address, label: 'Paypal account email address' %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<%= f.submit "Confirm Account", {:class => 'btn btn-primary inlineButton'} %>
							<%= f.submit "Unlink Account", {:class => 'btn btn-danger inlineButton'} if @settings.account_confirmed? %>
						</div>
					</div>
				</fieldset>
		  	</div>
		 </div>
	</div>
<% end %>