<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= f.fields_for :cart_items do |item| %>
<% item.object.current_user = current_user %>
<div class="well row" style="padding-right:0; padding-left: 0">
  <div class="col-md-2">
    <p style="padding-left: 19px;">
      <%if item.object.inventory_item.photo?%>
        <%= image_tag item.object.inventory_item.photo.url(:medium), alt: item.object.inventory_item.name, class: "img-responsive" %>
      <%else%>
        No Image Available
      <%end%>
    </p>
  </div>
  <div class="col-md-10 tableContainer">
	  <div class="table-responsive">
	    <table class="table">
	    <thead>  
	      <tr>
	        <th>Name</th>
	        <th>Price</th>
	        <th>Quantity</th>
	        <th>Seller</th>
	        <th>Payment Instructions</th>
			<%if item.object.inventory_item.has_minimum? && !item.object.inventory_item.minimum_reached?%>
				<th>Minimum</th>
			<%end%>
			<%if SiteSetting.instance.facebook_enabled%>
				<th></th>
			<%end%>
	      </tr>
	    </thead>
	      <tbody>
	        <tr>
	          <td><%= item_name(item.object.inventory_item) %> </td>
	          <td><%= number_to_currency(item.object.inventory_item.price).to_s + " " + price_unit_label(item.object.inventory_item) %></td>
	          <td><%= item.text_field :quantity, :style => "width: 40px;" %><span> <%= item_quantity_label(item.object.inventory_item, item.object.quantity) %></span></td>
	          <td><%= item.object.inventory_item.user.username %></td>
	          <td><%= item.object.inventory_item.user.payment_instructions %></td>
			  <%if item.object.inventory_item.has_minimum? && !item.object.inventory_item.minimum_reached?%>
			  	<td><%= item.object.inventory_item.quantity_needed_to_reach_minimum %></td>
			  <%end%>
				<%if SiteSetting.instance.facebook_enabled%>
					<td><span class="fb-share-button facebookTableContainer" data-href="<%= inventory_item_url(item.object.inventory_item) %>"></span></td>
				<%end%>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<% if item.object.can_edit? %>
    	<%= link_to "Delete", cart_item_destroy_path(item.object.id), :class => "btn btn-danger deleteCartItemButton" %>
	<% end %>
  </div>
</div>
<% end %>
<div class="row">
  <div class ="col-md-3"></div>
  <div class="col-md-2">
    <span class="totalLabel" >Total:</span>
    <span class="totalCell"><%= number_to_currency @total_price %></span>
  </div>
</div>
<% content_for :scripts do %>
	<%=facebook%>
<%end%>