<div id ="Cart" class="container-fluid">
  <h2>Your Cart</h2>
    <p class="notice"><%= flash[:notice] %></p>
    <%= form_for @cart, :url => orders_new_path, :method => "POST" do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :locals => {:f => f} %>
    <div class="row-fluid">
      <div class="span12">
		<span><%= f.submit("Confirm order and purchase", :class => 'btn btn-primary') %></span>
		<span><%= link_to "Continue Shopping", last_search_path, :class => 'btn' %></span>
      </div>
    </div>
    <% end %>
</div>
