<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
	<div class="alert alert-info">
	  You must have a buyer account to place your order.  Please
	  <%if user_signed_in? %>
	      <%if current_user.seller?%>
	        <%= link_to("create a buyer account", become_buyer_path) %>
	        <%else%>
				<%= link_to "log in", new_user_session_path, {class: 'alert-link'} %> or <%= link_to "sign up", buyer_sign_up_path, {class: 'alert-link'} %>
	      <%end%>
	    <%else%>
	      <%= link_to "log in", new_user_session_path, {class: 'alert-link'} %> or <%= link_to "sign up", buyer_sign_up_path, {class: 'alert-link'} %>
	  <%end%>
	  to continue.
	</div>
</div>
