<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% content_for :MainManagementContent do %>
	<%= bootstrap_form_for @order_cycle, :url => order_cycle_path(@order_cycle), :html => { :id => "OrderCycleSettingsForm", :class=>"well" } do |f| %>
	<div class="container-fluid">
		<div class="row">
		  	<%= f.error_messages %>
		  	<%= error_messages_for @order_cycle_settings %>
		  	<%= f.datetime_select :start_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true} %>
		  	<div id="OrderCycleEndDateContainer">
		  		<%= f.datetime_select :end_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true} %>
			</div>
		  	<%= f.datetime_select :seller_delivery_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true} %>
		  	<%= f.datetime_select :buyer_pickup_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true}%>
		  <%= fields_for @order_cycle_settings do |s|%>
		    <div id="Recurring" class="checkbox">
			  <label>
		      	<%= s.check_box :recurring,{},"true","false" %> Recurring?
			  </label>
		    </div>
		    <div class="form-group">
		      <%= s.label "Recurring Interval" %>
		      <%= s.select(:interval, {"daily" => "day","weekly" => "week","biweekly" =>"biweekly","monthly" => "month"}, {:include_blank => true}, {class: "form-control", style: "width: 25%;"} ) %>
		    </div>
		    <div class="form-group">
		      <%= s.label "Padding (amount of time between the end date and the next start date)" %>
			  <div>
			      <%= s.text_field :padding, :class => "form-control", style: "width: 50px; display: inline-block;" %><span style="margin-left: 10px;"><%= s.select(:padding_interval, {"hours" => "hours","days" => "days"}, {}, {:class => "form-control", style: "width: 20%; display: inline-block;"}) %></span>
			  </div>
		    </div>
		  <% end %>
		</div>
	  <div class="row">
	    <%= submit_tag "Update Settings", :class => 'btn btn-primary cycleSettingsSubmit' %>
	    <%= submit_tag "Save and Start New Cycle", :data => {:confirm => "This will cancel the current cycle and start a new one. All orders for the current cycle will be lost. Do you want to continue?"}, :class => 'btn btn-danger cycleSettingsSubmit' %>
	  </div>
	</div>
	<%end%>
	<% content_for :scripts do %>
		<script>
			if($("#order_cycle_setting_recurring").is(":checked")){
				$("#OrderCycleEndDateContainer").addClass("hidden");
			}
		</script>
	<%end%>
<%end%>
<%= render :template => 'layouts/management' %>
