<%
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= bootstrap_form_for @in_person_settings do |f| %>
	<div class="container-fluid">
		<%= f.error_messages %>
		<div class="row">
			<% if PaymentProcessorSetting.current_processor_type != 'InPerson' %>
			  	<div class="col-md-12">
			  		<%= f.check_box :accept_in_person_payments, label: 'Accept in person payments' %>
			  	</div>
			<% end %>
		  	<div class="col-md-12">
		  		<%= f.text_area :payment_instructions, label: 'In person payment instructions' %>
		  	</div>
		  	<div class="col-md-12">
		  		<%= f.submit "Save Settings", {:class => 'btn btn-primary'} %>
		  	</div>
		</div>
	</div>
<% end %>