<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<table border=1 style="border-collapse: collapse;">
<thead>  
  <tr>
    <th>Item Name</th>
    <th>Seller</th>
    <th>Payment Instructions</th>
	<% if @order.has_items_with_minimum? %>
		<th>Minimum</th>
	<% end %>
    <th>Quantity</th>
	<th>Price</th>
	<th>Total Price</th>
  </tr>
</thead>
  <tbody>
	<%@order.sub_totals.each do |key, value|%>
		<%seller_name = ""%>
		<%@order.cart_items.select{|i| i.inventory_item.user.id == key && i.minimum_reached_at_order_cycle_end}.each do |item| %>
			<%seller_name = item.inventory_item.user.username%>
			<tr>
	          <td><%= item_name(item.inventory_item) %></td>
			  <td><%= seller_name %></td>
			  <td><%= item.inventory_item.user.payment_instructions %></td>
				<% if @order.has_items_with_minimum? %>
					<td><%= item.inventory_item.quantity_needed_to_reach_minimum %></td>
				<% end %>
			  <td><%= item.quantity %><span> <%= item_quantity_label(item.inventory_item, item.quantity) %></span></td>
	          <td><%= number_to_currency(item.inventory_item.price).to_s + " " + price_unit_label(item.inventory_item) %> </td>
	          <td><%= number_to_currency(item.total_price).to_s%></td>
	        </tr>
		<%end%>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<% if @order.has_items_with_minimum? %>
				<td></td>
			<% end %>
	        <td></td>
	        <td style="font-weight:bold;"><%= "Subtotal for " + seller_name %></td>
			<td><%= number_to_currency(value)%></td>
		</tr>
	<%end%>
    <tr>
        <td></td>
        <td></td>
        <td></td>
		<% if @order.has_items_with_minimum? %>
			<td></td>
		<% end %>
		<td></td>
        <td style="font-weight:bold;">Grand Total:</td>
        <td><%= number_to_currency order.total_price %></td>
    </tr>
  </tbody>
</table>