<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank You!</h1>
    <h4 style="padding-bottom:15px;">Below is your order summary</h4>
    <div style="padding-bottom: 15px;">
      <div style="padding:10px; border: 3px solid gray;">
        <h5>Your order will be available for pickup on <%= format_date_time(@order_pickup_date) %> at the following address:</h5><br>
        <div style="padding-left: 30px;">
          <strong><%= @site_settings.drop_point_address %></strong><br>
          <strong><%= @site_settings.drop_point_city + ", " + @site_settings.drop_point_state + " " + @site_settings.drop_point_zip.to_s %></strong><br>
        </div>
      </div>
    </div>
    <strong>*Please note the payment instructions for each item. You will need to have payment available at the time of pickup</strong>
    <table border=1 style="border-collapse: collapse;">
    <thead>  
      <tr>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Seller</th>
        <th>Payment Instructions</th>
      </tr>
    </thead>
      <tbody>
		<%@order.sub_totals.each do |key, value|%>
			<%seller_name = ""%>
			<%@order.cart_items.select{|i| i.inventory_item.user.id == key}.each do |item| %>
				<%seller_name = item.inventory_item.user.first_name + " " + item.inventory_item.user.last_name%>
				<tr>
		          <td><%= item_name(item.inventory_item) %></td>
		          <td><%= number_to_currency(item.inventory_item.price)%> </td>
		          <td><%= item.quantity %><span> <%= item_quantity_label(item.inventory_item, item.quantity) %></span></td>
		          <td><%= seller_name %>
		          <td><%= item.inventory_item.user.payment_instructions %>
		        </tr>
			<%end%>
			<tr>
				<td style="font-weight:bold;"><%= "Subtotal for " + seller_name %></td>
				<td><%= number_to_currency(value)%>
				<td></td>
		        <td></td>
		        <td></td>
			</tr>
		<%end%>
        <tr>
          <td style="font-weight:bold;">Total:</td>
          <td><%= number_to_currency @order.total_price %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>