<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="font-weight: bold;">Buyer Information</p>
    <P>Name: <%= @buyer.username  %></p>
    <p>Email: <%= @buyer.email %>
    <p style="font-weight: bold; padding-top: 15px;">Purchase Information</p>
    <table border=1 style="border-collapse: collapse;">
        <thead>
          <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%@cart_items.each do |item|%>
            <tr>
              <td><%= item_name(item.inventory_item)%></td>
              <td style="text-align: center;"><%= "#{item.quantity}#{" "}#{item_quantity_label(item.inventory_item, item.quantity)}"%></td>
              <td><%= number_to_currency(item.inventory_item.price).to_s + " " + price_unit_label(item.inventory_item) %></td>
            </tr>
          <%end%>
        </tbody>
    </table>
</html>