<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="font-weight: bold;">Buyer Information</p>
    <P>Name: <%= @buyer.username  %></p>
    <p>Email: <%= @buyer.email %>
    <p style="font-weight: bold; padding-top: 15px;">Purchase Information</p>
	<%if @has_items_with_minimum %>
		<p>
		  	You have set a minimum for some of the items purchased in this order but the minimum has not yet been reached.  If the minimum for these items is not reached by the end of the order cycle the items will be removed from the order. The quantity still needed to reach the minimum for these items is displayed in the "Minimum" column below.
		</p>
	<%end%>
    <table border=1 style="border-collapse: collapse;">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Payment Status</th>
    			  <%if @has_items_with_minimum %>
    			  	<th>Minimum</th>
    			  <%end%>
          </tr>
        </thead>
        <tbody>
          <%@cart_items.each do |item|%>
            <tr>
              <td><%= item_name(item.inventory_item)%></td>
              <td style="text-align: center;"><%= "#{item.quantity}#{" "}#{item_quantity_label(item.inventory_item, item.quantity)}"%></td>
              <td><%= number_to_currency(item.inventory_item.price).to_s + " " + price_unit_label(item.inventory_item) %></td>
              <td><%= item.payment_status %></td>
      			  <%if @has_items_with_minimum %>
      			  	<td><%= item.inventory_item.quantity_needed_to_reach_minimum %></td>
      			  <%end%>
            </tr>
          <%end%>
        </tbody>
    </table>
    <div style="margin-top: 40px;">
      <p>Don't want to receive these emails anymore? <a href="<%= edit_user_preference_url(@seller.user_preference, user_email: @seller.email, user_token: @seller.authentication_token) %>">click here</a> to update your email preferences.</p>
    </div>
</html>