<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	  <p>
		  A new review was submitted for <%= @inventory_item.name %> on <%= format_date_time(@review.created_at) %> by <%= @review.user.username %>.
	  </p>
	  <p><strong>Rating: </strong><%= @review.rating %></p>
	  <div style="font-weight: bold;">Review</div>
	  <p><%= @review.review %></p>
	  <p><a href="<%= reviews_seller_index_url %>">Log in</a> to view all of your reviews and ratings.</p>
  </body>
</html>