<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      <p>The current order cycle at <%= @site_settings.site_name %> ended on <%= format_date_time(@order_cycle.end_date) %>.</p>
	  <% if(@order_cycle_settings.recurring) %>
      	<p>Please <a href="<%= new_user_session_url %>">log in</a> to update your inventory for the next order cycle.</p>
	  <% end %>
	  <%unless @orders.empty?%>
	      <p>You will need to deliver the ordered items, bundled for each buyer and labeled with the corresponding packing list, to the drop point address below on <%= format_date_time(@order_cycle.seller_delivery_date) %>. Your packing list and pick list are attached to this email.</p>
	      <p><strong>Drop Point Address:</strong></p>
	      <div style="padding-left: 30px;">
	        <%= @site_settings.drop_point_address %><br>
	        <%= @site_settings.drop_point_city + ", " + @site_settings.drop_point_state + " " + @site_settings.drop_point_zip.to_s %><br>
	      </div>
	  <% end %>
    </div>
  </body>
</html>
