<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_for(@category, :html => {:id => 'SecondLevelCategoryForm'}) do |f| %>
<div class="modal-body">
  <div class="modalErrorMessages">
	<%= f.error_messages %>
  </div>
  <%= f.hidden_field :top_level_category_id %>
  <div>
    <%=  f.label "Name*" %>
    <%=  f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10 %>
  </div>
 </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" href="#">Close</a>
    <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
  </div>
<%  end %>
