<%= form_for(@category, :html => {:id => 'SecondLevelCategoryForm', :class => 'well' }) do |f| %>
<div class="modal-body well">
  <%= f.error_messages %>
  <%= f.hidden_field :top_level_category_id %>
  <div>
    <%=  f.label "Name*" %>
    <%=  f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10 %>
  </div>
 </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" href="#">Close</a>
    <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
  </div>
<%  end %>
