<table class="table table-bordered table-condensed">
  <thead>
    <tr>
        <th>Top Level Category</th>
        <th>Second Level Category</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%@current_inventory.each do |item|%>
      <tr>
        <td><%= item.top_level_category.description%></td>
        <td><%= item.second_level_category.description%></td>
        <td><%= item.name%></td>
        <td><%= number_to_currency(item.price).to_s + " per " + item.price_unit%></td>
        <td><%= item.quantity_available%> </td>
        <td><%= link_to_function "Edit", "LoadInventoryDetail('#{edit_inventory_item_path(item.id)}')"%></td>
        <td><%= link_to_function "Delete", "DeleteInventoryItem('#{inventory_item_path(item.id)}')"%></td>
      </tr>
    <%end%>
  </tbody>
</table>

