<div class="container-fluid">
	<div class="row-fluid">
		<%= form_tag pick_list_seller_index_path, :method => 'GET', :class => 'form-inline' do %>
			<%= select(:selected_previous_order_cycle, :id, @previous_order_cycles.collect{|o| [format_short_date(o.end_date), o.id]}, {:include_blank => true}, {:class => 'input-medium'}) %>
			<%= submit_tag 'Submit', :class => 'btn' %>
			<span>Choose an order cycle end date to load a previous pick list</span>
		<% end %>
	</div>
  <div class="row-fluid" style="margin-bottom: 15px;">
    <%= link_to "Printable Pick List (PDF)", pick_list_seller_index_path(:format => 'pdf', :selected_previous_order_cycle => { :id =>  @selected_previous_order_cycle}), :class => 'btn' %>
  </div>
  <div class="well-fluid row-fluid">
      <table class="table" >
      <thead>  
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
        <tbody>
          <%@inventory_items.each do |item|%>
          <tr>
            <td><%= item.id %></td>
            <td><%= item_name(item) %></td>
            <td><%= "#{item.cart_item_quantity_sum}#{" "}#{item_quantity_label(item, item.cart_item_quantity_sum)}" %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>
