<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="modal-body">
  <div class="row-fluid">
	  <% if !@inventory_guidelines.blank? %>
	  	<div class="alert">Inventory Guidelines: <%= @inventory_guidelines %></div>
	  <% end %>
	  <div class="modalErrorMessages"><%= f.error_messages %></div>
	  <div class="span5">
	    <div>
	      <%= f.label "Top Level Category *"   %>
	      <%= f.collection_select(:top_level_category_id, @top_level_categories, :id, :name, include_blank: true) %>
	    </div>
	    <div>
	      <%= f.label "Second Level Category *" %>
	      <%= f.select(:second_level_category_id, @second_level_categories.collect{|u| [u.name, u.id]})  %>
	    </div>
		<div>
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>
		<div>
		  <%= f.label "Price *" %>
		  <%= f.text_field :price, :class => "input-small" %>
		</div>
		<div>
		  <%= f.label "Units *" %>
		  <%= f.text_field :price_unit, :class => "input-medium", :placeholder => "choose or enter a value", :id => "PriceUnitSelect", "data-url" => units_inventory_items_path %>
		</div>
		<div>
		  <%= f.label "Quantity Available *" %>
		  <%= f.text_field :quantity_available, :class => "input-small" %>
		</div>
		<% if current_user.manager? %>
			<div>
			  <%= f.label "Approved" %>
			  <%= f.check_box :approved, {}, "true", "false" %>
			</div>
		<% end %>
	</div>
	<div class="span5" style="margin-left:30px;">
	  <div>
	    <%= f.label :description %>
	    <%= f.text_area :description, :size => "10x10" %>
	  </div>
	  <%if @item.photo?%>
	    <%= image_tag @item.photo.url(:thumb) %>
	  <%else%>
	    No Image Available
	  <%end%>
	  <div>
	    <%= f.label "Add a photo" %>
	    <%= f.file_field :photo %>
	  </div>
	</div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn" data-dismiss="modal" href="#">Close</a>
  <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
</div>
<script type="text/javascript">
	$("#PriceUnitSelect").typeahead({
		minLength:0,
		items:9999,
		showAll: true,
		source: function(query, process) {
			var url = $("#PriceUnitSelect").attr('data-url');
			return $.get(url, {query: query}, function(data) {
				return process(data);
			});
		}
	});
</script>
