<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="modal-body">
	<div class=container-fluid>
		  <div class="row">
			  <% if !@inventory_guidelines.blank? %>
			  	<div class="alert alert-danger">Inventory Guidelines: <%= @inventory_guidelines %></div>
			  <% end %>
			  <div class="modalErrorMessages"><%= f.error_messages %></div>
			  <div class="col-md-5">
			     <%= f.collection_select(:top_level_category_id, @top_level_categories, :id, :name, include_blank: true, label: "Top Level Category *" ) %>
			    <%= f.select(:second_level_category_id, @second_level_categories.collect{|u| [u.name, u.id]}, {}, { label: "Second Level Category *"})  %>
				<%= f.text_field :name %>
				<%= f.text_field :price, label: "Price *" %>
				<%= f.text_field :price_unit, label: "Units *", :placeholder => "choose or enter a value", :id => "PriceUnitSelect", "data-url" => units_inventory_items_path %>
				<%= f.text_field :quantity_available, label: "Quantity Available *" %>
				<% if current_user.manager? %>
					<%= f.check_box :approved, {label: "Approved"}, "true", "false" %>
				<% end %>
			</div>
			<div class="col-md-5">
				<%= f.check_box :autopost, {label: "Auto-post at the beginning of each order cycle?"}, "true", "false" %>
				<%= f.text_field :autopost_quantity, label: "Quantity to auto-post" %>
		  		<%= f.text_field :minimum, label: tooltip_label("Minimum", "Adding a quantity here will indicate that a minimum quanity must be purchased among all buyers during the order cycle before you will deliver the items to the drop point.") %>
			    <%= f.text_area :description, :size => "10x10" %>
				<%if @item.photo?%>
					<%= image_tag @item.photo.url(:thumb), alt: @item.name %>
				<%else%>
					No Image Available
				<%end%>
			    <%= f.file_field :photo, label: "Add a photo" %>
			</div>
		  </div>
		</div>
	</div>
<div class="modal-footer">
  <a class="btn btn-default inlineButton" data-dismiss="modal" href="#">Close</a>
  <%= f.submit("Save Changes", :class => 'btn btn-primary inlineButton') %>
</div>
<script type="text/javascript">
	$("#PriceUnitSelect").typeahead({
		minLength:0,
		items:9999,
		showAll: true,
		source: function(query, process) {
			var url = $("#PriceUnitSelect").attr('data-url');
			return $.get(url, {query: query}, function(data) {
				return process(data);
			});
		}
	});

	$(".icon-question-sign").tooltip();
</script>
