<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
	<div class="well-fluid container-fluid">
	  <div class="col-md-3 col-sm-4">
		<div class="row">
		    <%if inventory_item.photo?%>
		      <%= image_tag inventory_item.photo.url(:medium), class: "img-responsive" %>
		    <%else%>
		      No Image Available
		    <%end%>
		</div>
	  </div>
	  <div class="col-md-9 col-sm-8 itemDescription">
		<div class="row">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 itemDescription">
					    <h2>
					      <%= item_name(inventory_item) %>
					    </h2>
						<%if SiteSetting.instance.facebook_enabled%>
							<p><span class="fb-share-button" data-href="<%= inventory_item_url(inventory_item) %>", data-layout="button"></span></p>
						<%end%>
					    <p><%= inventory_item.description %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
							    <p><label>Quantity Available:</label><%= quantity(inventory_item)%></p>
							    <p><label>Price:</label><%= number_to_currency(inventory_item.price).to_s + " " + price_unit_label(inventory_item) %></p>
							    <p>
									<label>Sold By:</label>
									<%if inventory_item.user.photo?%>
										<a href="<%=user_path(inventory_item.user.id)%>" class="inventorySellerLink"><%= image_tag inventory_item.user.photo.url(:thumb), class: "img-responsive" %><%=inventory_item.user.username%></a>
									<%else%>
										<%= link_to(inventory_item.user.username, user_path(inventory_item.user.id)) %>
									<%end%>
								</p>
							</div>
							<div class="col-md-8">
								<% if inventory_item.quantity_available > 0 %>
							        <%= form_tag(cart_items_path(:inventory_item_id => inventory_item.id), :class => "addToCartButton") do %>
							        <p><label>Quantity:</label><input id="quantity" name="quantity" style="width: 40px;" value="1"></input><span> <%= item_quantity_label(inventory_item, 2) %></span></p>
							        <p><%= submit_tag("Add To Cart", :class => "btn btn-primary") %></p>
							        <% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<% if SiteSetting.instance.reputation_enabled && !inventory_item.avg_rating.nil? %>
					<%= render partial: "review", locals: {inventory_item: inventory_item}%>
				<%end%>
				</div>
			</div>
	 	</div>
	</div>
</div>