<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% @reviews = inventory_item.reviews.joins(:user)
                                  	.select('reviews.*, users.username AS username')
                                  	.order('reviews.created_at DESC')
                                  	.paginate(:page => params[:page], :per_page => 2) %>
<div class="row">
	<div class="col-md-12">
		<h3>Reviews (<%= @reviews.count %>)</h3>
		<p>
			<span>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 0.5, inventory_item.avg_rating > 0 && inventory_item.avg_rating <= 0.5, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 1, inventory_item.avg_rating > 0.5 && inventory_item.avg_rating <= 1, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 1.5, inventory_item.avg_rating > 1 && inventory_item.avg_rating <= 1.5, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 2, inventory_item.avg_rating > 1.5 && inventory_item.avg_rating <= 2, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 2.5, inventory_item.avg_rating > 2 && inventory_item.avg_rating <= 2.5, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 3, inventory_item.avg_rating > 2.5 && inventory_item.avg_rating <= 3, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 3.5, inventory_item.avg_rating > 3 && inventory_item.avg_rating <= 3.5, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 4, inventory_item.avg_rating > 3.5 && inventory_item.avg_rating <= 4, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 4.5, inventory_item.avg_rating > 4 && inventory_item.avg_rating <= 4.5, class: "star {split:2}", disabled: "disabled" %>
				<%= radio_button_tag "avg_rating#{inventory_item.id}", 5, inventory_item.avg_rating > 4.5 && inventory_item.avg_rating <= 5, class: "star {split:2}", disabled: "disabled" %>
			</span>
			<span class="avgRating"><%= inventory_item.avg_rating %> average rating</span>
		</p>
		<div class="reviewsContainer">
			<% @reviews.each do |review| %>
			<div class="panel panel-default">
				<div class="panel-body">
					<span>
						<%= radio_button_tag "rating#{review.id}", 1, !review.rating.nil? && review.rating == 1, class: "star", disabled: "disabled" %>
						<%= radio_button_tag "rating#{review.id}", 2, !review.rating.nil? && review.rating == 2, class: "star", disabled: "disabled" %>
						<%= radio_button_tag "rating#{review.id}", 3, !review.rating.nil? && review.rating == 3, class: "star", disabled: "disabled" %>
						<%= radio_button_tag "rating#{review.id}", 4, !review.rating.nil? && review.rating == 4, class: "star", disabled: "disabled" %>
						<%= radio_button_tag "rating#{review.id}", 5, !review.rating.nil? && review.rating == 5, class: "star", disabled: "disabled" %>
					</span>
					<span class="avgRating">
						By <%= review.username%> <span><%= format_short_date(review.updated_at)%></span>
					</span>
					<p>
						<%= review.review %>
					</p>
				</div>
			</div>
			<%end%>
			<%= will_paginate @reviews %>
		</div>
	</div>
</div>