<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3 id="InventoryHeading">Edit Inventory Item</h3>
</div>
<%= form_for(@item, :html => { :id => 'edit_inventory_item'}) do |f| %>
<div class="modal-body">
  <%= f.error_messages %>
  <div class="span6">
    <div>
      <%= f.label "Top Level Category *"   %>
      <%= f.collection_select(:top_level_category_id, @top_level_categories, :id, :name) %>
    </div>
    <div>
      <%= f.label "Second Level Category *" %>
      <%= f.select(:second_level_category_id, @second_level_categories.collect{|u| [u.name, u.id]})  %>
    </div>
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
  <%= render :partial => 'form_right', :locals => { :f => f } %>
</div>
<div class="modal-footer">
  <a class="btn" data-dismiss="modal" href="#">Close</a>
  <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
</div>
<% end %>