<h2>New Inventory Item</h2>
<div class="row-fluid"
  <div class="span6">
    <%= form_for(@item, :html => { :class => 'well span6' }) do |f| %>
    <%= f.error_messages %>
      <div>
        <%= f.label "Top Level Category *"   %>
        <%= f.collection_select(:top_level_category_id, @top_level_categories, :id, :name, {:include_blank => true}) %>
      </div>
      <div>
        <%= f.label "Second Level Category *" %>
        <%= f.select(:second_level_category_id, @second_level_categories.collect{|u| [u.name, u.id]}, {:include_blank => true}, {:disabled => "disabled"})  %>
      </div>
      <%= render :partial => 'form', :locals => { :f => f } %>
    <%  end %>
  </div>
</div>

