<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="AddToCartNotice" class="alert" style="display:none;">
      </div>
      <%@inventory_items.each do |item|%>
      <% seller_name = item.user.first_name + " " + item.user.last_name %>
        <div class="well-fluid row-fluid">
          <div class="span2">
            <p>No Image Available</p>
          </div>
          <div class="span10">
            <h3>
              <%= item_name(item) %>
            </h3>
            <p><%= item.description %></p>
            <p>Quantity Available:  <%= item.quantity_available %></p>
            <p>Price:  <%= number_to_currency(item.price).to_s + " per " + item.price_unit %></p>
            <p>Sold By:  <%= link_to(seller_name, public_show_user_path(item.user.id)) %></p>
            <%= form_tag(cart_items_path(:inventory_item_id => item.id), :class => "addToCartButton") do %>
              <p>Quantity: <input id="quantity" name="quantity" class="input-small" value="1"></input></p>
              <p><%= submit_tag("Add To Cart", :class => "btn btn-primary") %></p>
            <% end %>
          </div>
        </div>
      <%end%>
      <%= will_paginate @inventory_items %>
    </div>
  </div>
</div>
