<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="AddToCartNotice" class="alert fixed-alert">
      </div>
      <%@inventory_items.each do |item|%>
        <div class="well-fluid row-fluid">
          <div class="span2">
            <%if item.photo?%>
              <%= image_tag item.photo.url(:medium) %>
            <%else%>
              No Image Available
            <%end%>
          </div>
          <div class="span10">
            <h3>
              <%= item_name(item) %>
            </h3>
            <p><%= item.description %></p>
            <p>Quantity Available:  <%= item.quantity_available %></p>
            <p>Price:  <%= number_to_currency(item.price).to_s + " " + price_unit_label(item) %></p>
            <p>Sold By:  <%= link_to(item.user.username, user_path(item.user.id)) %></p>
            <%= form_tag(cart_items_path(:inventory_item_id => item.id), :class => "addToCartButton") do %>
            <p>Quantity: <input id="quantity" name="quantity" class="input-small" value="1"></input><span> <%= item_quantity_label(item, 2) %></span></p>
              <p><%= submit_tag("Add To Cart", :class => "btn btn-primary") %></p>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
