<div class="container-fluid">
  <div class="row-fluid">
    <%@InventoryItems.each do |item|%>
    <% seller_name = item.user.first_name + " " + item.user.last_name %>
    <div class="well row-fluid" style="padding-right:0; padding-left: 0">
      <div class="span2">
        <p style="padding-left: 19px;">No Image Available</p>
      </div>
      <div class="span10">
        <h3><% if(item.name == nil || item.name == "") %>
              <%=  item.top_level_category.name %>
            <%else%>
              <%= item.name %>
            <%end%>    
        </h3>
        <p><%= item.description %></p>
        <p>Quantity Available:  <%= item.quantity_available %></p>
        <p>Price:  <%= number_to_currency(item.price).to_s + " per " + item.price_unit %></p>
        <p>Sold By:  <%= link_to(seller_name, public_user_path(item.user.id)) %></p>
        <p><%= button_to "Add To Cart", cart_items_path(inventory_item_id: item),{:form => {:class => "addToCartButton"}, :class => "btn btn-primary"}%> </p>
      </div>
    </div>
    <%end%>
    <%= will_paginate @InventoryItems %>
  </div>
</div>
