<div class="modal-header">
  <button class="close" data-dismiss="modal" type="button">×</button>
  <h3 id="InventoryHeading">Edit User</h3>
</div>
<%= form_for(@user, :url => user_path, :html => { :id => 'EditUserForm', :class => 'well' }) do |f| %>
<div class="modal-body">
    <p>
      <b>User Name:</b>
      <%= @user.username %>
    </p>

    <p>
      <b>Email: </b>
      <%= @user.email %>
    </p>

    <p>
      <b>First Name:</b>
      <%= @user.first_name %>
    </p>

    <p>
      <b>Last Name:</b>
      <%= @user.last_name %>
    </p>

    <p>
      <b>Initial:</b>
      <%= @user.initial %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Address:</b>
      <%= @user.address %>
    </p>

    <p>
      <b>City:</b>
      <%= @user.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @user.state %>
    </p>

    <p>
      <b>Country:</b>
      <%= @user.country %>
    </p>

    <p>
      <b>Zip:</b>
      <%= @user.zip %>
    </p>

    <p>
      <b>About Me:</b>
      <%= @user.aboutme %>
    </p>

    <% @user.roles.each do |role| %>
      <%= render :partial => "#{role.rolable_type.downcase.camelize.underscore}_fields", :locals => { :user => role } %>
    <% end %>

    <%= f.fields_for :roles do |rf| %>
      <% if rf.object.rolable_type == "Seller" %>
        <%= rf.fields_for :seller do |s|  %>
            <div><b><%= s.label "Seller Approved" %></b>
            <%= s.select(:approved, [['true', 'true'],['false', 'false']]) %></div>
            <div><b><%= s.label "Listing Approval Style" %></b>
            <%= s.select(:listing_approval_style, [['manual', 'manual'],['auto','auto']]) %></div>
        <% end %>
      <% end %>
    <% end %>
</div>
<div class="modal-footer">
  <a class="btn" data-dismiss="modal" href="#">Close</a>
  <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
</div>
<% end %>
</div>
