<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= bootstrap_form_for(@category, :html => {:id => 'TopLevelCategoryForm' }) do |f| %>
<div class="modal-body">
  <div class="modalErrorMessages">
	<%= f.error_messages %>
  </div>
  <%=  f.text_field :name, label: "Name*" %>
  <%= f.text_area :description, :rows => 10 %>
  <div class="modal-footer">
    <a class="btn btn-default" data-dismiss="modal" href="#">Close</a>
    <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
  </div>
<%  end %>
