<%= form_for(@category, :html => {:id => 'TopLevelCategoryForm', :class => 'well' }) do |f| %>
<div>
  <%=  f.label :name %>
  <%=  f.text_field :name %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 10 %>
</div>
<div>
  <%= f.submit("Save", :class => 'btn') %>
  <input type="button" value="Cancel" class="btn" onclick="CloseManagementDialog();"></input>
</div>
<%  end %>

