<%@items_for_display.each_slice(4) do |slice|%>
	<div class="row thumbnailRow">
		<%slice.each do |item|%>
			<div class="col-md-3 col-sm-3">
			    <div class="thumbnail">
			      <a href="<%=inventory_item_path(item)%>"><%= image_tag item.photo.url(:medium), { alt: item.name, style: "height: 200px; width: auto;"} %></a>
			      <div class="caption">
			        <h3><%=link_to(item.name, inventory_item_path(item))%></h3>
			        <p>			
						<a href="<%=user_path(item.user.id)%>" class="inventorySellerLink"><%= image_tag item.user.photo.url(:thumb), alt: item.user.username, class: "img-responsive" %><%=item.user.username%></a>
					</p>
			      </div>
			    </div>
			</div>
		<%end%>
	</div>
<%end%>

