<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class ="jumbotron masthead">
  <div class ="container">
    <h1><%= @site_name %> </h1>
    <p class="site-description"><%= @site_description.html_safe %></p>
  </div>
</div>
<div class="row-fluid marketing">
  <div class="span4">
    <div style ="font-size:50px; margin-bottom: 20px;">
      <i class="icon-shopping-cart icon-large"></i>
    </div>
    <h2>Buy</h2>
    <p>
      Support the the local economy in your own neighborhood. Buy directly from your neighbors.
    </p>
    <p>
      <%= link_to 'Sign up as a buyer', buyer_sign_up_url, :class => "btn btn-primary"  %>
    </p>
  </div>
  <div class="span4">
    <div style ="font-size:50px; margin-bottom: 20px;">
      <i class="icon-money icon-large"></i>
    </div>
    <h2>Sell</h2>
    <p>
      Sell your homegrown vegetables and homemade goods directly to your neighbors.
    </p>
    <p>
      <%= link_to 'Sign up as a seller', seller_sign_up_url, :class => "btn btn-primary" %>
    </p>
  </div>
  <div class="span4">
    <div style ="font-size:50px; margin-bottom: 20px;">
      <i class="icon-search icon-large"></i>
    </div>
    <h2>Browse</h2>
    <p>
      Not ready to sign up yet?  Browse our inventory and see what your neighbors are making.
    </p>
    <p>
      <%= link_to 'Browse the inventory', browse_all_inventory_items_url, :class => "btn btn-primary" %>
    </p>
  </div>
</div>