<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% content_for :meta_tags  do %>
	<meta content="Support the the local economy in your own neighborhood. Buy directly from your neighbors." name="description" />
	<meta property="og:title" content="<%= @site_name %>" />
	<meta property="og:site_name" content="<%= @site_name %>" />
	<meta property="og:url" content="<%= root_url %>" />
	<meta property="og:description" content="Support the the local economy in your own neighborhood. Buy directly from your neighbors." />
	<meta property="og:app_id" content="<%= SiteSetting.instance.facebook_app_id %>" />
	<meta property="og:type" content="website" />
<% end %>
<div class="container-fluid">
	<div class ="jumbotron masthead">
		<div id="SiteDescription">
		    <h1><%= @site_name %></h1>
		    <p class="site-description"><%= @site_description.html_safe %></p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<% if @items_for_carousel.count > 0 %>
					<div class="col-md-5">
						<div id="InventoryItemCarousel" class="carousel slide" data-interval="20000" data-ride="carousel">
						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
							<% @items_for_carousel.each_with_index do |item, index| %>
							    <div class="<%=if index==0 then "item active" else "item" end%>">
									<div class="wrapper">
							      	  	<a href="<%=inventory_item_path(item)%>"><%= image_tag item.photo.url(:medium), alt: item.name %></a>
							      		<div class="carousel-caption">
									  	  <h2><%=link_to(item.name, inventory_item_path(item))%></h2>
							      		</div>
							  		</div>
							    </div>
							<%end%>
						  </div>
						  <!-- Controls -->
						  <a class="left carousel-control" href="#InventoryItemCarousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left icon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#InventoryItemCarousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right icon-chevron-right"></span>
						  </a>
						</div>
					</div>
				<% end %>
				<div class=<%= "col-md-7" if @items_for_carousel.count > 0 %> >
					<div class="container">
						<div class="row marketing">
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-shopping-cart icon-large"></i>
						    </div>
						    <h2>Buy</h2>
						    <p class="marketing-description">
						      Support the the local economy in your own neighborhood. Buy directly from your neighbors.
						    </p>
						    <p>
						      <%= link_to 'Sign up as a buyer', buyer_sign_up_url, :class => "btn btn-success"  %>
						    </p>
						  </div>
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-money icon-large"></i>
						    </div>
						    <h2>Sell</h2>
						    <p class="marketing-description">
						      Sell your homegrown vegetables and homemade goods directly to your neighbors.
						    </p>
						    <p>
						      <%= link_to 'Sign up as a seller', seller_sign_up_url, :class => "btn btn-success" %>
						    </p>
						  </div>
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-user icon-large"></i>
						    </div>
						    <h2>Meet the sellers</h2>
						    <p class="marketing-description">
						      See what your neighbors are making.
						    </p>
						    <p>
						      <%= link_to 'Meet the sellers', sellers_url, :class => "btn btn-success" %>
						    </p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="items">
		<%=render :partial => "items", locals: {items_for_display: @items_for_display}%>
	</div>
	<%= will_paginate @items_for_display, {:page_links => false, :params => {:controller => "home", :action => "paginate_items"} }%>
</div>
<% content_for :scripts do %>
	<%= pageless(@items_for_display.total_pages, home_paginate_items_path, "#items") %>
<%end%>
