<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% content_for :open_graph_tags  do %>
	<meta property="og:title" content="<%= @site_name %>" />
	<meta property="og:site_name" content="<%= @site_name %>" />
	<meta property="og:url" content="<%= root_url %>" />
	<meta property="og:description" content="Support the the local economy in your own neighborhood. Buy directly from your neighbors." />
	<meta property="og:app_id" content="<%= SiteSetting.first.facebook_app_id %>" />
	<meta property="og:type" content="website" />
<% end %>
<% content_for :sub_nav do %>
	<div class="row">
		<div class="col-md-2" style="min-width: 230px;">
			<ul class="nav navbar-left hidden-lg">
				<li>
					<a class="sb-toggle-left" href="#">
						<span style="display: inline-block; padding-top: 5px;">
							<div class="navicon-line"></div>
							<div class="navicon-line"></div>
							<div class="navicon-line"></div>
						</span>
						<span style="position: relative; bottom: 7px; padding-left: 3px;">Browse Categories</span>
					</a>
				</li>
			</ul>
			<ul class ="nav nav-pills navbar-left hidden-xs hidden-sm hidden-md">
			  <li class="dropdown" id="MainCategoriesMenu">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    Browse Categories
			    <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
				<% cache(cache_key_for_categories) do %>
			      <% top_level_categories = get_categories %>
			      <% top_level_categories.each do |category| %>
			        <li class="dropdown-submenu">
					  <a href="#"><%= category[:name] %>
					  	<span>(<%= category[:count] %>)</span>
					  </a>
			          <ul class="dropdown-menu">
			            <% category[:second_level].each do |second_level_category|%>
			            <li>
			                <a href="<%= browse_inventory_items_path(:second_level_category_id => second_level_category[:id]) %>" class="secondLevelBrowseMenu"><%= second_level_category[:name] %> 
							<span>(<%= second_level_category[:count] %>)</span>
							</a>
			            </li>
			            <% end %>
			          </ul>
			        </li>
			      <% end %>
				  <% end %>
			  </ul>
		</div>
		<div class="col-md-8 col-sm-7">
		    <form id="MainSearchForm" class="form-inline navbar-left" action="<%= search_inventory_items_path %>">
				<div class="form-group">
					<div class="input-group">
		      	  		<input name="keywords" type="text" class="form-control" placeholder="What are you looking for?"></input>
						<button type="submit" class="btn btn-success icon-search" style="border-bottom-left-radius: 0; border-top-left-radius: 0; line-height: 22px; font-size: 22px;"></button>
					</div>
				</div>
		    </form>
		</div>
	</div>
<%end%>
<%= content_for :slide_bar do %>
	<div class="topRow">
		Categories
	</div>
	<div class="sb-menu list-group">
	<% cache(cache_key_for_categories_sidemenu) do %>
	  <% top_level_categories = get_categories %>
	      <% top_level_categories.each do |category| %>
			  <a href="#" class="list-group-item sb-toggle-submenu"><%= category[:name]%>
			  	<span>(<%= category[:count] %>)</span>
			  </a>
	          <div class="sb-submenu secondLevel" style="display: none;">
	            <% category[:second_level].each do |second_level_category|%>
	                <a class="sb-close list-group-item" href="<%= browse_inventory_items_path(:second_level_category_id => second_level_category[:id]) %>" class="secondLevelBrowseMenu"><%= second_level_category[:name] %> 
					<span>(<%= second_level_category[:count] %>)</span>
					</a>
	            <% end %>
	          </div>
	      <% end %>
	  <% end %>
	</div>
<%end%>
<div class="container-fluid">
	<div class ="jumbotron masthead">
		<div id="SiteDescription">
		    <h1><%= @site_name %></h1>
		    <p class="site-description"><%= @site_description.html_safe %></p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5">
					<div id="InventoryItemCarousel" class="carousel slide" data-interval="20000" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
						<% @items_for_carousel.each_with_index do |item, index| %>
						    <div class="<%=if index==0 then "item active" else "item" end%>">
								<div class="wrapper">
						      	  	<a href="<%=inventory_item_path(item)%>"><%= image_tag item.photo.url %></a>
						      		<div class="carousel-caption">
								  	  <h2><%=link_to(item.name, inventory_item_path(item))%></h2>
						      		</div>
						  		</div>
						    </div>
						<%end%>
					  </div>
					  <!-- Controls -->
					  <a class="left carousel-control" href="#InventoryItemCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left icon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#InventoryItemCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right icon-chevron-right"></span>
					  </a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="container">
						<div class="row marketing">
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-shopping-cart icon-large"></i>
						    </div>
						    <h2>Buy</h2>
						    <p class="marketing-description">
						      Support the the local economy in your own neighborhood. Buy directly from your neighbors.
						    </p>
						    <p>
						      <%= link_to 'Sign up as a buyer', buyer_sign_up_url, :class => "btn btn-success"  %>
						    </p>
						  </div>
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-money icon-large"></i>
						    </div>
						    <h2>Sell</h2>
						    <p class="marketing-description">
						      Sell your homegrown vegetables and homemade goods directly to your neighbors.
						    </p>
						    <p>
						      <%= link_to 'Sign up as a seller', seller_sign_up_url, :class => "btn btn-success" %>
						    </p>
						  </div>
						  <div class="col-md-4 col-sm-4">
						    <div class="marketing-icon-container">
						      <i class="icon-search icon-large"></i>
						    </div>
						    <h2>Browse</h2>
						    <p class="marketing-description">
						      Not ready to sign up yet?  Browse our inventory and see what your neighbors are making.
						    </p>
						    <p>
						      <%= link_to 'Browse the inventory', browse_all_inventory_items_url, :class => "btn btn-success" %>
						    </p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="items">
		<%=render :partial => "items", locals: {items_for_display: @items_for_display}%>
	</div>
	<%= will_paginate @items_for_display, {:page_links => false, :params => {:controller => "home", :action => "paginate_items"} }%>
	<%= pageless(@items_for_display.total_pages, home_paginate_items_path, "#items") %>
</div>