<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class ="jumbotron masthead" >
  <div class ="container-fluid">
	<div class="row" style="margin-bottom: 40px;">
    	<p>Welcome <%= current_user.username %>.  What would you like to do?</p>
	</div>
	<div class="row marketing">
	  <%if @current_order_id || @completed_order_id%>
		  <div style="display: inline-block; margin-right: 100px;">
		    <div style ="font-size:50px; margin-bottom: 20px;">
		      <%= fa_icon "shopping-basket 2x" %>
		    </div>
		    <p style="padding-top: 15px;">
	            <% if @current_order_id %>
	                <%= link_to('My Order', order_path(@current_order_id), :class => "btn btn-primary", :style => "width: 150px;") %>
	            <% end %>
	            <% if @completed_order_id %>
	                <%= link_to('My Order', order_path(@completed_order_id), :class => "btn btn-primary", :style => "width: 150px;") %>
	            <% end %>
		    </p>
		  </div>
	  <%end%>
	  <%if @seller %>
		  <div style="display: inline-block; margin-right: 100px;">
		    <div style ="font-size:50px; margin-bottom: 20px;">
		      <%= fa_icon "money 2x" %>
		    </div>
		    <p style="padding-top: 15px;">
		      <%= link_to 'Sell', seller_index_path, :class => "btn btn-primary", :style => "width: 150px;" %>
		    </p>
		  </div>
	  <%end%>
	  <%if @manager %>
		  <div style="display: inline-block; margin-right: 100px;">
		    <div style ="font-size:50px; margin-bottom: 20px;">
		      <%= fa_icon "wrench 2x" %>
		    </div>
		    <p>
		      <%= link_to 'Manage', site_settings_path, :class => "btn btn-primary", :style => "width: 150px;" %>
		    </p>
		  </div>
	  <%end%>
	</div>
  </div>
</div>