<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 ">
      <p><h3>Send Inventory Item Change Request</h3></p>
	  <label>Inventory item</label>
      <%= form_for @request, :url => create_inventory_item_change_request_path(:inventory_item_id => @item.id), :method => "POST" do |f|%>
        <%= f.error_messages %>
	    <table class="table table-bordered table-condensed">
	      <thead>
	        <tr>
	  		  <th>Name</th>
	            <th>Top Level Category</th>
	            <th>Second Level Category</th>
	            <th>Price</th>
	            <th>Quantity</th>
	        </tr>
	      </thead>
	      <tbody>
	          <tr>
	  		  	<td><%= item_name(@item)%></td>
	            <td><%= @item.top_level_category.name%></td>
	            <td><%= @item.second_level_category.name%></td>
	            <td><%= number_to_currency(@item.price).to_s + " " + price_unit_label(@item) %></td>
	            <td><%= @item.quantity_available%></td>
	          </tr>
	      </tbody>
	    </table>
        <div>
          <%= f.label "Change Description" %>
          <%= f.text_area :description, {:class => 'input-xlarge', :rows => 10 }%>
        </div>
        <div>
          <%= f.submit "Send", {:class => 'btn'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

