<h2>Your Order</h2>
<p class="notice"><%= flash[:notice] %></p>
<%= form_for @order, :html => {:id => "EditOrderForm"} do |f| %>
<%= f.error_messages %>
<%= render :partial => "cart/form", :locals => {:f => f} %>
<%= f.submit("Update Order", :class => 'btn btn-primary') %>
<% end %>
<%= button_to "Cancel Order", { :action => "destroy", :controller => "orders", :id => @order.id}, {:form => {:class => "cancelOrderButton"}, :method => "delete", :class => "btn btn-danger", :confirm => "Are you sure you want to cancel your order?"} %>

