<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
	<h2>Current Order</h2>
	<%= form_for @order, :html => {:id => "EditOrderForm"} do |f| %>
		<%= f.error_messages %>
		<div class="container-fluid">
			<%= render :partial => "cart/form", :locals => {:f => f} %>
		</div>
		<%= f.submit("Update Order", :class => 'btn btn-primary inlineButton') %>
	<% end %>
	<% if current_user.manager?%>
	<div class="row">
		<div class="col-md-1">
			<%= button_to "Cancel Order", { :action => "destroy", :controller => "orders", :id => @order.id}, {:form => {:class => "cancelOrderButton"}, :method => "delete", :class => "btn btn-danger inlineButton", :data => {:confirm => "Are you sure you want to cancel this order?"}} %>
		</div>
	</div>
	<% else %>
		<%= link_to "Request Order Change", new_order_change_request_path(@order.id), :class => "btn btn-danger inlineButton", style: "position: relative; bottom: 34px; left: 120px;" %>
	<% end %>
</div>
