<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% content_for :MainManagementContent do %>
	<div id="Orders" class="container-fluid">
		<div class="row" style="margin-bottom: 15px;">
			<%= form_tag orders_path, :method => 'GET', :class => 'form-inline' do %>
				<div class="form-group">
					<%= select(:selected_previous_order_cycle, :id, @previous_order_cycles.collect{|o| [format_short_date(o.end_date), o.id]}, {:include_blank => true}, {:class => 'form-control'}) %>
				</div>
				<%= submit_tag 'Submit', :class => 'btn btn-default' %>
				<span>Choose an order cycle end date to load orders for a previous order cycle</span>
			<% end %>
		</div>
	  	<h2>Orders for order cycle ending <%= format_short_date(@selected_previous_order_cycle.end_date) %></h2>
	  	<div class="table">
			<table id="OrdersTable" class="table table-striped">
			  <thead>
			    <tr>
			    	<th></th>
			    	<th></th>
			    	<th>Order ID</th>
			        <th>Buyer</th>
			        <th>Buyer Email</th>
			        <th>Total Amount</th>
			    </tr>
			  </thead>	
			  <tbody>
			    <%@orders.each do |order|%>
					<tr>
						<td><span><a href="#" class="collapseIconLink" data-toggle="collapse" data-target="<%="#OrderDetail" + "#{order.id}" %>"><i class="fa fa-plus-circle"></i> Details</a></span></td>
						<td><%= link_to "Edit", edit_order_path(order) if order.in_current_order_cycle? %></td>
						<td><%= order.id %></td>
						<td><%= order.user.username %></td>
						<td><a href="mailto:<%= order.user.email %>"><%= order.user.email %></a></td>
						<td><%= number_to_currency(order.total_price)%></td>
					</tr>
					<tr id="<%="OrderDetail" + "#{order.id}" %>" class="collapse">
						<td colspan="6">
							<div class="well">
								<table class="table table-condensed table-responsive table-striped">
									<thead>
									    <tr>
									    	<th></th>
									    	<th>Item Name</th>
									    	<th>Seller</th>
									    	<th>Quantity</th>
									    	<th>Total Price</th>
									    </tr>
									</thead>
									<tbody>
										<% order.cart_items.each do |item| %>
											<tr>
											<td><span><a href="#" class="collapseIconLink" data-toggle="collapse" data-target="<%="#ItemDetail" + "#{item.id}" %>"><i class="fa fa-plus-circle"></i> Payments</a></span></td>
												<td><%=item.inventory_item.name%></td>
												<td><%=item.inventory_item.user.username%></td>
												<td><%=item.quantity%></td>
												<td><%=number_to_currency(item.total_price)%></td>
											</tr>
											<tr id="<%="ItemDetail" + "#{item.id}" %>" class="collapse">
												<td colspan="5">
													<div class="well">
														<table class="table table-condensed table-responsive table-striped">
															<thead>
															    <tr>
															    	<th>Processor Type</th>
															    	<th>Payment Type</th>
															    	<th>Status</th>
															    	<th>Receiver</th>
															    	<th>Amount</th>
															    	<th></th>
															    </tr>
															</thead>
															<tbody>
																<% item.payments.each do |payment| %>
																	<tr>																		
																		<td><%=payment.processor_type%></td>
																		<td><%=payment.payment_type%></td>
																		<td><%=payment.status%></td>
																		<td><%=payment.receiver.username%></td>
																		<td><%=number_to_currency(payment.amount)%></td>
																		<td>
																			<% if payment.refundable? %>
																				<%= button_to "Refund", { :action => "destroy", :controller => "payments", :id => payment.id}, { :method => "delete", :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to refund this payment?"}} %>
																			<% end %>
																		</td>
																	</tr>
																<%end%>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										<%end%>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
<% end %>
<%= render :template => 'layouts/management' %>