<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
  <h2>Your Order</h2>
  <% if @current_order %>
    <h4>*Includes items previously added to your order for this cycle</h4>
  <%end%>
    <p class="notice"><%= flash[:notice] %></p>
    <%= form_for @order do |f|%>
      <%= f.error_messages %>
	  <% if @site_settings.delivery %>
			  	<div class="row-fluid" style="margin-bottom: 15px;">
					<div class="span12">
						<% if @order.eligible_for_delivery? %>
							<h5>Your order is eligible for delivery. Check the box below if you would like your order delivered according to your instructions. Otherwise, you will need to pick up your order at the drop point.</h5>
				  			Deliver: <%= f.check_box(:deliver, {:style => "margin: 0;"}, "true", "false")%>
						<% else %>
							<h5>Your order could be delivered. To enable this option, <%= link_to "update your profile", edit_user_registration_url %> to provide a delivery address and instructions. </h5>
						<% end %>
					</div>
				</div>
		<% end %>
	    <%= render "order" %>
	    <div class="row-fluid">
	      <div class="span1">
	        <%= f.submit "Purchase", { :class => "btn btn-primary" } %>
	      </div>
	    </div>
	<% end %>
</div>
