<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_tag deleted_users_report_management_index_path, :method => "GET", :class => "well" do %> 
	<%=render 'report_dates'%>
<% end %>
<h4>Showing users deleted between <%=format_short_date(@start_date)%> and <%=format_short_date(@end_date)%></h4>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
        <th>Username</th>
        <th>Delete Date</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
		<td><%= format_short_date(user.deleted_at) %></td>
      </tr>
    <%end%>
  </tbody>
</table>

