<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_for @site_settings, :url => update_site_settings_management_index_path, :method => :post, :html => { :id => "SiteSettingsForm", :class=>"well" } do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :site_name %>
    <%= f.text_field :site_name, :class => "input-xlarge" %>
  </div>
  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { :default => "Pacific Time (US & Canada)" }, { :class => "input-xlarge" } %>
  </div>
  <div>
    <%= f.label :drop_point_address %>
    <%= f.text_field :drop_point_address, :class => "input-xlarge" %>
  </div>
  <div>
    <%= f.label :drop_point_city %>
    <%= f.text_field :drop_point_city, :class => "input-xlarge" %>
  </div>
  <div>
    <%= f.label :drop_point_state %>
    <%= f.state_select :drop_point_state, country = "US", {}, {:class => "input-medium"} %>
  </div>
  <div>
    <%= f.label :drop_point_zip %>
    <%= f.text_field :drop_point_zip, :class => "input-medium" %>
  </div>
  <div>
    <%= f.label :directions %>
    <%= f.text_area :directions, :rows => 5, :class => "input-xlarge"%>
  </div>
  <fieldset>
	  <legend>Site Modes</legend>
	  Drop Point: <%= f.check_box(:drop_point, {:style => "margin: 0;"}, true, "false")%> </br>
	  Delivery: <%= f.check_box(:delivery, {:style => "margin: 0;"}, true, "false")%> </br>
  </fieldset>
  
  <div class="row-fluid">
    <%= submit_tag "Save Settings", :class => 'btn btn-primary' %>
  </div>
<%end%>
