<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div style="margin-bottom: 5px;">
	<%=button_to "Send Test Email", { :action => "test_email" }, { :class => "btn"} %>
</div>
<div class="well">
	<%= bootstrap_form_for @site_settings, :url => update_site_settings_management_index_path, :method => :post, :html => { :id => "SiteSettingsForm"} do |f| %>
		<div class="container-fluid">
		  <%= f.error_messages %>
		  <div class="row">
			  <div class="col-md-6">
				  <div class="form-group">
				    <%= f.label :time_zone %>
				    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { :default => "Pacific Time (US & Canada)" }, { :class => "form-control" } %>
				  </div>
				  <%= f.text_field :site_name, label: "Site name (Displayed on front page and in emails.)" %>
				  <%= f.text_area :site_description, :rows => 5, label: "Site description (Displayed on front page. HTML is allowed.)"%>
				  <%= f.text_area :inventory_guidelines, :rows => 5, label: "Inventory guidelines (Displayed on seller inventory form.)"%>
				  <%= f.check_box(:require_terms_of_service, {label: "Require terms of service agreement at user sign-up"}, true, "false")%>
				  <%= f.text_area :terms_of_service, :rows => 10 %>
			  </div>
			  <div class="col-md-6">
				  <%= f.text_field :drop_point_address%>
				  <%= f.text_field :drop_point_city%>
				  <div class="form-group">
				    <%= f.label :drop_point_state %>
				    <%= f.subregion_select :drop_point_state, Carmen::Country.coded('US'), {}, {:class => "form-control"}  %>
				  </div>
				  <%= f.text_field :drop_point_zip%>
				  <%= f.text_area :directions, :rows => 5, label: "Drop point directions"%>
				  <fieldset>
					  <legend>Site Modes</legend>
					  <%= f.check_box(:drop_point, {label: "Drop Point"}, true, "false")%>
					  <%= f.check_box(:delivery, {label: "Delivery"}, true, "false")%>
				  </fieldset>
				  <fieldset>
					  <legend>Facebook Settings</legend>
					  <%= f.check_box(:facebook_enabled, {label: "Enable Facebook Sharing" }, true, "false")%>
					  <%= f.text_field :facebook_app_id, label: "Facebook App ID"%>
				  </fieldset>
			  </div>
		  </div>
		  <div class="row">
		    <%= submit_tag "Save Settings", :class => 'btn btn-primary' %>
		  </div>
		</div>
	<%end%>
</div>
