<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
        <th>Seller ID</th>
        <th>Buyer ID</th>
        <th>Order ID</th>
		<th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
		<th>Delivery Date</th>
    </tr>
  </thead>
  <tbody>
    <%@orders.each do |order|%>
	  <% buyer_id = order.user.id %>
	  <% order_id = order.id %>
	  <% delivery_date = order.order_cycle.seller_delivery_date%>
	  <% order.cart_items.each do |cart_item| %>
	      <tr>
	        <td><%= cart_item.inventory_item.user.id %></td>
	        <td><%= buyer_id %></td>
	        <td><%= order_id %></td>
			<td><%= cart_item.inventory_item.name %></td>
			<td><%= cart_item.quantity %></td>
			<td><%= number_to_currency(cart_item.inventory_item.price).to_s + " " + price_unit_label(cart_item.inventory_item) %></td>
			<td><%= format_short_date(delivery_date) %></td>
	      </tr>
	  <% end %>
    <% end %>
  </tbody>
</table>

