<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<h4>Enter a date range or leave blank for all orders in history</h4>
<%= form_tag historical_orders_report_management_index_path, :class => "well", :id => "HistoricalOrdersForm" do %> 
	<div class="form-group">
      <label>Start Date</label>
	  <div class="rails-bootstrap-forms-datetime-select">
	      <%= select_date nil, {:order => [:month, :day, :year], :include_blank => true, :default => nil, :ampm => true, :prefix => 'start_date'}, {:class => "form-control"} %>
	  </div>
    </div>
	<div class="form-group">
      <label>End Date</label>
	  <div class="rails-bootstrap-forms-datetime-select">
      	<%= select_date nil, {:order => [:month, :day, :year], :include_blank => true, :default => nil, :ampm => true, :prefix => 'end_date'}, {:class => "form-control"} %>
	  </div>
    </div>
	<div>
		<%= submit_tag "Preview", :class => "btn btn-default", :id => "PreviewHistoricalOrdersSubmit" %>
		<%= submit_tag "Export to CSV", :class => "btn btn-default" %>
	</div>
<% end %>
<div id="HistoricalOrdersLoading" style="display:none; margin-top: 30px;">
  <div class="col-md-6"></div>
  <div>
    <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
  </div>
</div>
<div id="HistoricalOrdersReportContent">
</div>