<div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to_function "Approve Sellers", "LoadManagementContent('#{management_approve_sellers_path}', true)"%></li>
      <li><%= link_to_function "User Search", "LoadManagementContent('#{management_user_search_path}', true)"%></li>
      <li><%= link_to_function "Manage Categories", "LoadManagementContent('#{management_categories_path}', true)"%></li>
      <li></li>
    </ul>
  </div>
<div class="container-fluid">
  <p id="ManagementNotice" class="notice"><%= flash[:notice] %></p>
  <%= flash[:alert] %>
</div>
<div id="ManagementContent" class="container-fluid">
  
</div>
<div id="Modal">
  
</div>

<script>
  $("#Modal").modal({show:false});
</script>