<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<h4>Inventory item change requests</h4>
<div class="table-responsive">
	<table class="table table-bordered table-condensed">
	  <thead>
	    <tr>
	        <th>Seller Name</th>
	        <th>Inventory Item Name</th>
	        <th>Change Description</th>
	        <th></th>
	        <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <%@requests.each do |request|%>
	      <tr>
	  		<td><%= request.inventory_item.user.username %> </td>
	  	  	<td><%= item_name(request.inventory_item)%></td>
	        <td><%= request.description%></td>
	        <td><%= link_to "Edit Item", {:controller => "management", :action => "edit_inventory", :id => request.inventory_item.id}, :id => "mgmtEditInventoryItemButton", :class => "btn btn-default", :style => "width:60%;" %></td>
	        <td><%= button_to "Complete", complete_inventory_item_change_request_path(request), { :data => {:confirm => "Are you sure you want to complete this request?"}, :class => "btn btn-primary", :style => "width:95%;"} %></td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
</div>

