<div class="row-fluid">
  <div class="span6">
    <%= form_for @order_cycle, :url => management_update_order_cycle_path, :method => :post, :html => { :id => "OrderCycleSettingsForm", :class=>"well" } do |f| %>
      <%= f.error_messages %>
      <%= error_messages_for @order_cycle_settings %>
      <div>
        <%= f.label :start_date %>
        <%= f.datetime_select :start_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true}, {:class => "input-small"} %>
      </div>
      <div>
        <%= f.label :end_date %>
        <%= f.datetime_select :end_date, {:order => [:month, :day, :year, :hour, :minute], :include => :blank, :ampm => true}, {:class => "input-small"} %>
      </div>
      <%= fields_for @order_cycle_settings do |s|%>
        <div id="Recurring">
          <%= s.label "Recurring?" %>
          <%= s.check_box :recurring,{},"true","false" %>
        </div>
        <div>
          <%= s.label "Recurring Interval" %>
          <%= s.select(:interval, {"minute" => "minute", "day" => "day","week" => "week", "month" => "month"}, {:include_blank => 'Please Select'}, :class => "input-medium") %>
        </div>
        <div>
          <%= s.label "Padding" %>
          <%= s.text_field :padding, :class => "input-small" %><span style="margin-left: 10px;"><%= s.select(:padding_interval, {"minutes" => "minutes", "hours" => "hours","days" => "days"}, {}, :class => "input-small") %></span>
        </div>
      <% end %>
      <div class="row-fluid">
        <%= submit_tag "Save Settings", :class => 'btn btn-primary cycleSettingsSubmit' %>
        <%= submit_tag "Start New Cycle", :class => 'btn btn-danger cycleSettingsSubmit' %>
      </div>
    <%end%>
  </div>
</div>
