<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_tag(user_search_results_management_index_path, :method => "get", :class => 'well', :id => 'UserSearchForm') do %>
  	<h3>User Search</h3>
  	<div class="form-group">
  		<label>Search Condition (Enter a username, first name, or last name)</label>
		<div class="row">
			<div class="col-md-4">
  				<%= text_field_tag(:keywords, params[:keywords], :class => 'form-control') %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Role Type</label>
		<div class="row">
			<div class="col-md-4">
		  	  	<%= select_tag "role", "<option>Manager</option><option>Seller</option><option>Buyer</option>".html_safe, :include_blank => true, :id => "RoleTypeSelect", class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label id="SellerApprovalStyleLabel" style="display:none;">Seller Approval Style</label>
		<div class="row">
			<div class="col-md-4">
		  	  	<%= select_tag "seller_approval_style", "<option>manual</option><option>auto</option>".html_safe, :include_blank => true, class: "form-control", :style => 'display:none;' %>
			</div>
		</div>
	</div>
	<div class="form-group">
  	  	<label id="SellerApprovedLabel" style="display:none;">Seller Approved</label>
		<div class="row">
			<div class="col-md-4">
			  <%= select_tag "seller_approved", "<option>true</option><option>false</option>".html_safe, :include_blank => true, class: "form-control", :style => 'display:none;'%>
			</div>
		</div>
  	</div>
  	<%= submit_tag("Search", :class => 'btn') %>
<% end %>
<div id="ManagerSearchResultsLoading" style="display:none; margin-top: 30px;">
  <div class="col-md-6"></div>
  <div>
    <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
  </div>
</div>
<div>
	<div id="ManagerSearchResults">
  	</div>
</div>


