<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_tag(user_search_results_management_index_path, :method => "get", :class => 'well', :id => 'UserSearchForm') do %>
  <h3>User Search</h3>
  <label>Search Condition</label>
  <%= text_field_tag(:keywords, params[:keywords], :class => 'input-large') %>
  <span class="inline-help">Enter a username, first name, or last name</span>
  <label>Role Type</label>
  <%= select_tag "role", "<option>Manager</option><option>Seller</option><option>Buyer</option>".html_safe, :include_blank => true, :id => "RoleTypeSelect" %>
  <label id="SellerApprovalStyleLabel" style="display:none;">Seller Approval Style</label>
  <%= select_tag "seller_approval_style", "<option>manual</option><option>auto</option>".html_safe, :include_blank => true, :style => 'display:none;' %>
  <label id="SellerApprovedLabel" style="display:none;">Seller Approved</label>
  <%= select_tag "seller_approved", "<option>true</option><option>false</option>".html_safe, :include_blank => true, :style => 'display:none;' %>
  <p><%= submit_tag("Search", :class => 'btn') %></p>
<% end %>
<div id="ManagerSearchResultsLoading" style="display:none; margin-top: 30px;">
  <div class="span6"></div>
  <div>
    <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
  </div>
</div>
<div>
    <div id="ManagerSearchResults">
  </div>
</div>


