<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
		  <button class="close" data-dismiss="modal" type="button">×</button>
		  <h3 id="InventoryHeading">Edit User</h3>
		</div>
		<%= bootstrap_form_for(@user, :url => user_path, :html => { :id => 'EditUserForm' }) do |f| %>
		<div class="modal-body">
			<div class="modalErrorMessages"><%= f.error_messages %></div>
			<div class="row">
				<div class="col-md-4">
				    <%= f.text_field :username, label: "User Name*" %>
				    <%= f.email_field :email, label: "Email*" %>

					<%if @user.auto_created && @user.auto_create_updated_at.nil?%>
						<% @password_label = "Password*" %>
					<% else %>
						<% @password_label = "Password (leave blank if you don't want to change it)" %>
					<% end %>
					<%= f.password_field :password, label: @password_label %>
					<%= f.password_field :password_confirmation, label: "Password Confirmation*" %>

					<%= f.text_field :first_name, label: "First name*" %>
					<%= f.text_field :last_name, label: "Last name*" %>
					<%= f.text_field :initial, label: "Initial" %>
				 </div>
				 <div class="col-md-4">
					<%= f.telephone_field :phone, label: "#{if @user.seller? then 'Phone*' else 'Phone' end}" %>
					<%= f.text_field :address, label: "#{if @user.seller? then 'Address*' else field_label(:address, @site_settings) end}" %>
					<%= f.text_field :city, label: "#{if @user.seller? then 'City*' else field_label(:city, @site_settings) end}" %>
				    <div class="form-group">
						<%= if @user.seller? then f.label "State*" else f.label field_label(:state, @site_settings) end %>
				    	<%= f.country_select :country, {priority: %w(US CA)}, class: "form-control" %>
					</div>

				    <div class="form-group">
						<%= if @user.seller? then f.label "Country*" else f.label field_label(:country, @site_settings) end %>
				    	<%= f.subregion_select :state, Carmen::Country.coded('US'), {}, { class: "form-control" } %>
					</div>
					<%= f.text_field :zip, label: "#{if @user.seller? then 'Zip*' else field_label(:zip, @site_settings) end}" %>
				    <%= f.text_area :aboutme, :rows => 5, label: "About Me"  %>
				</div>
				<div class="col-md-4">
				    <% @user.roles.each do |role| %>
				      <%= render :partial => "user_registrations/#{role.name.downcase.camelize.underscore}_fields", :locals => { :f => f } %>
				    <% end %>
      
				    <% if @user.seller? %>
				      <%= f.select(:approved_seller, [['true', 'true'],['false', 'false']], label: "Seller Approved") %>
				      <%= f.select(:listing_approval_style, [['manual', 'manual'],['auto','auto']], label: "Listing Approval Style") %>
				    <%end%>
					<div class="checkbox">
					<label>
		      			<%= check_box_tag 'manager', 'true', @user.manager? %> Manager?
					</label>
				</div>
		   </div>
		</div>
		<div class="modal-footer">
		  <a class="btn btn-default" data-dismiss="modal" href="#">Close</a>
		  <%= f.submit("Save Changes", :class => 'btn btn-primary') %>
		</div>
		<% end %>
		</div>
	</div>
</div>
