<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>
<div class="container-fluid">
	<div class ="row">
		<div class ="col-md-6">
			<h1>Contact Us</h1>
			<%= bootstrap_form_for @message, :url => contact_path(:layout => @layout), :method => "POST", html: { :id => "ContactForm" } do |f|%>
				<%= f.error_messages %>
				<%= f.text_field :email%>
				<%= f.text_field :subject%>
				<%= f.text_area :body, { :rows => 10 }%>
				<%= f.submit "Send", {:class => 'btn btn-primary'} %>
			<%end%>
		</div>
	</div>
</div>
