<div class="span12 well">
	<h2>Sign Up</h2>
	<%= devise_error_messages! %>
	<div class="row-fluid">
	  <div class="span3">
	    <div><%= f.label "User Name* (for public display; make it recognizable to your neighbors)" %>
	    <%= f.text_field :username %></div>

	    <div><%= f.label "Email*" %>
	    <%= f.email_field :email %></div>

	    <div><%= f.label "Password*" %>
	    <%= f.password_field :password %></div>

	    <div><%= f.label "Password Confirmation*" %>
	    <%= f.password_field :password_confirmation %></div>
	
		<%= f.hidden_field :user_type, :value => "buyer" %>
	  </div>
	  <div class="span1"></div>
	  <div class="span3">
	    <div><%= f.label "Delivery Address*" %>
	    <%= f.text_field :address %></div>

	    <div><%= f.label "Delivery City*" %>
	    <%= f.text_field :city %></div>

	    <div><%= f.label "Delivery Country*" %>
	    <%= f.country_select(:country, "US") %></div>

	    <div><%= f.label "Delivery State*" %>
	    <%= f.state_select :state %></div>

	    <div><%= f.label "Delivery Zip*" %>
	    <%= f.text_field :zip %></div>
	  </div>
   	  <div class="span1"></div>
      <div class="span3">
        <% resource.roles.each do |role| %>
          <%= render :partial => "#{role.name.downcase.camelize.underscore}_fields", :locals => { :f => f } %>
        <% end %>
      </div>
	</div>
	<div class="row-fluid" style="margin-top: 19px;">
	  <div class="span9"></div>
	  <div class="span2">
	    <%= f.submit "Sign up", {:class => "btn btn-primary", :style => "width: 150px; height: 35px;"}%>
	  </div>
	</div>
</div>