<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="span12 well">
	<h2>Sign Up</h2>
	<%= devise_error_messages! %>
	<div class="row-fluid">
	  <div class="span3">
	    <div><%= f.label "User Name* (for public display; make it recognizable to your neighbors)" %>
	    <%= f.text_field :username %></div>

	    <div><%= f.label "Email*" %>
	    <%= f.email_field :email %></div>

	    <div><%= f.label "Password*" %>
	    <%= f.password_field :password %></div>

	    <div><%= f.label "Password Confirmation*" %>
	    <%= f.password_field :password_confirmation %></div>
    
	    <div><%= f.label "First name*" %>
	    <%= f.text_field :first_name %></div>

	    <div><%= f.label "Last name*" %>
	    <%= f.text_field :last_name %></div>

	    <div><%= f.label "Initial" %>
	    <%= f.text_field :initial %></div>
	  </div>
	  <div class="span1"></div>
	  <div class="span3">
	    <div><%= f.label "Phone*" %>
	    <%= f.telephone_field :phone %></div>  

	    <div><%= f.label "Address*" %>
	    <%= f.text_field :address %></div>

	    <div><%= f.label "City*" %>
	    <%= f.text_field :city %></div>

	    <div><%= f.label "Country*" %>
	    <%= f.country_select :country, {priority: %w(US CA)} %></div>

	    <div><%= f.label "State*" %>
	    <%= f.subregion_select :state, Carmen::Country.coded('US')  %></div>

	    <div><%= f.label "Zip*" %>
	    <%= f.text_field :zip %></div>
	  </div>
	  <div class="span1"></div>
	    <div class="span3">
	      <div><%= f.label "About Me" %>
	      <%= f.text_area :aboutme, :rows => 10 %></div>

	      <% resource.roles.each do |role| %>
	        <%= render :partial => "#{role.name.downcase.camelize.underscore}_fields", :locals => { :f => f } %>
	      <% end %>
	    </div>
	  </div>
	<%= f.hidden_field :user_type, :value => "seller" %>
	<div class="row-fluid" style="margin-top: 19px;">
	  <div class="span8"></div>
	  <div class="span4">
  		<% if @site_settings.require_terms_of_service? %>
  			<div style="margin-bottom: 5px;">
  				<%= f.check_box(:terms_of_service, {:style => "margin: 0;"}, true, "false")%> 
  				<span>I have read and agree to the <%= link_to "terms of service",  user_registrations_terms_of_service_path, {:id => "TermsOfServiceLink"} %></span>
  			</div>
  		<% end %>
	    <%= f.submit "Sign up", {:class => "btn btn-primary", :style => "width: 225px; height: 35px;"}%>
	  </div>
	</div>
</div>