<h2>Become Seller</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <p style="font-weight:bold;">Please add payment instructions to your profile</p>
  
  <div>
    <%= f.label "Phone*" %>
    <%= f.telephone_field :phone %>
  </div>
  
  <%= render :partial => "seller_fields", :locals => { :f => f } %>

  <%= f.hidden_field :become_seller, :value => true %>

  <div><%= f.submit "Update", :class => 'btn'%></div>
<% end %>