<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%
  # customized code begin
  if @become_seller
    resource_role = resource.roles.new
    resource_role.rolable = Seller.new
  end
  # customized code end
%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <p class="notice"><%= flash[:notice] %></p>
  <%= flash[:alert] %>
  <%= devise_error_messages! %>
  <%  if @become_seller %>
    <p class="notice">Please add payment instructions to your profile</p>
  <%  end %>
  
  <div><%= f.label "User Name" %>
  <%= f.text_field :username %></div>

  <div><%= f.label "Email" %>
  <%= f.email_field :email %></div>

  <div><%= f.label "Password (leave blank if you don't want to change it)" %>
  <%= f.password_field :password %></div>

  <div><%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "Current Password (we need your current password to confirm your changes)"%>
  <%= f.password_field :current_password %></div>

  <div><%= f.label "First name" %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label "Last name" %>
  <%= f.text_field :last_name %></div>

  <div><%= f.label "Initial" %>
  <%= f.text_field :initial %></div>

  <div><%= f.label "Address" %>
  <%= f.text_field :address %></div>

  <div><%= f.label "City" %>
  <%= f.text_field :city %></div>

  <div><%= f.label "State" %>
  <%= f.text_field :state %></div>

  <div><%= f.label "Country" %>
  <%= f.text_field :country %></div>

  <div><%= f.label "Zip" %>
  <%= f.text_field :zip %></div>

  <div><%= f.label "About Me" %>
  <%= f.text_area :aboutme %></div>

  <%#  customized code begin %>
  <% resource.roles.each do |role| %>
    <% rolable_type = role.rolable_type %>
    <%= fields_for role.rolable do |rf| %>
      <% render :partial => "#{rolable_type.downcase.underscore}_fields", :locals => { :f => rf } %>
    <% end %>
  <% end %>
    
  <% resource.roles.each do |role| %>
    <% if !role.id.blank? %>
      <%= f.hidden_field "role_id][", :value => role.id %>
    <% end %>
  <% end %> 
  
  <%= f.hidden_field "user_id", :value => resource.id %>  
  <%= f.hidden_field "become_seller", :value => @become_seller %>
  <% # customized code end %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
