<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container">
  <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
  <h2>Edit Profile</h2>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-3">
		<%= f.text_field :username, label: "User Name* (for public display; make it recognizable to your neighbors)" %>
		<%= f.email_field :email, label: "Email*" %>

		<%if resource.auto_created && resource.auto_create_updated_at.nil?%>
			<% @password_label = "Password*" %>
		<% else %>
			<% @password_label = "Password (leave blank if you don't want to change it)" %>
		<% end %>
		<%= f.password_field :password, label: @password_label %>
		<%= f.password_field :password_confirmation, label: "Password Confirmation*" %>

		<%= f.text_field :first_name, label: "First name*" %>
		<%= f.text_field :last_name, label: "Last name*" %>
		<%= f.text_field :initial, label: "Initial" %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
		<%= f.telephone_field :phone, label: "#{if resource.seller? then 'Phone*' else 'Phone' end}" %>
		<%= f.text_field :address, label: "#{if resource.seller? then 'Address*' else field_label(:address) end}" %>
		<%= f.text_field :city, label: "#{if resource.seller? then 'City*' else field_label(:city) end}" %>
	    <div class="form-group">
			<%= if resource.seller? then f.label "State*" else f.label field_label(:state) end %>
	    	<%= f.country_select :country, {priority: %w(US CA)}, class: "form-control" %>
		</div>

	    <div class="form-group">
			<%= if resource.seller? then f.label "Country*" else f.label field_label(:country) end %>
	    	<%= f.subregion_select :state, Carmen::Country.coded('US'), {}, { class: "form-control" } %>
		</div>
		<%= f.text_field :zip, label: "#{if resource.seller? then 'Zip*' else field_label(:zip) end}" %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <%= f.text_area :aboutme, :rows => 10, label: "About Me"  %>
      
      <% resource.roles.each do |role| %>
        <%= render :partial => "#{role.name.downcase.camelize.underscore}_fields", :locals => { :f => f } %>
      <% end %>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-4">
		<% if @site_contents.require_terms_of_service? %>
			<div style="margin-bottom: 5px;">
				<%= f.check_box(:terms_of_service, {label: raw("I have read and agree to the #{link_to "terms of service",  user_registrations_terms_of_service_path, {:id => "TermsOfServiceLink"} }")}, true, "false")%> 
			</div>
		<% end %>
	    <%= f.submit "Update", {:class => "btn btn-primary", :style => "width: 225px;"} %>
    </div>
  </div>
  <% end %>
  <div class="row">

  </div>
</div>