<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well" }) do |f| %>
  <h2>Edit Profile</h2>
  <%= devise_error_messages! %>
  <div class="row-fluid">
    <div class="span3">
	
      <div><%= f.label "User Name* (for public display; make it recognizable to your neighbors)" %>
      <%= f.text_field :username %></div>

      <div><%= f.label "Email*" %>
      <%= f.email_field :email %></div>
	   
      <div>
	      <%if resource.auto_created && resource.auto_create_updated_at.nil?%>
	        <%= f.label "Password*" %>
	      <% else %>
	        <%= f.label "Password (leave blank if you don't want to change it)" %>
	      <% end %>
      	  <%= f.password_field :password %>
	  </div>

      <div><%= f.label "Password Confirmation*" %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= if resource.seller? then f.label "First name*" else f.label "First name" end %>
      <%= f.text_field :first_name %></div>

      <div><%= if resource.seller? then f.label "Last name*" else f.label "Last name" end %>
      <%= f.text_field :last_name %></div>

      <div><%= f.label "Initial" %>
      <%= f.text_field :initial %></div>
    </div>
    <div class="span1"></div>
    <div class="span3">
	  <div><%=if resource.seller? then f.label "Phone*" else f.label "Phone" end%>
	  <%= f.telephone_field :phone %></div>

      <div><%= if resource.seller? then f.label "Address*" else f.label field_label(:address, @site_settings) end%>
      <%= f.text_field :address %></div>

      <div><%= if resource.seller? then f.label "City*" else f.label field_label(:city, @site_settings) end %>
      <%= f.text_field :city %></div>

      <div><%= if resource.seller? then f.label "State*" else f.label field_label(:state, @site_settings) end %>
      <%= f.state_select :state %></div>

      <div><%= if resource.seller? then f.label "Country*" else f.label field_label(:country, @site_settings) end %>
      <%= f.country_select(:country, "US") %></div>

      <div><%= if resource.seller? then f.label "Zip*" else f.label field_label(:zip, @site_settings) end %>
      <%= f.text_field :zip %></div>
    </div>
    <div class="span1"></div>
    <div class="span3">
      <div><%= f.label "About Me" %>
      <%= f.text_area :aboutme, :rows => 10  %></div>
      
      <% resource.roles.each do |role| %>
        <%= render :partial => "#{role.name.downcase.camelize.underscore}_fields", :locals => { :f => f } %>
      <% end %>
      
    </div>
  </div>
  <div class="row">
    <div class="span3" style="margin-left:19px;">
      <p style="padding-top:10px;">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
    </div>
    <div class="span5"></div>
    <div class="span3">
  		<div style="margin-bottom: 5px;">
  			<%= f.check_box(:terms_of_service, {:style => "margin: 0;"}, true, "false")%>
			<span>I have read and agree to the <%= link_to "terms of service",  user_registrations_terms_of_service_path, {:id => "TermsOfServiceLink"} %></span>
  		</div>
      <%= f.submit "Update", {:class => "btn btn-primary", :style => "width: 150px; height: 35px;"} %>
    </div>
  </div>
  <% end %>
  <div class="row">

  </div>
</div>
<div id="Modal" class="modal hide fade" tabindex="-1" data-width="760">
</div>
<script>
  $("#Modal").modal({show:false});
</script>

