<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% content_for :MainManagementContent do %>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="<%= nav_item_is_active({controller: 'site_settings', action: 'index'}) %>">
			<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
		</li>
		<li role="presentation" class="<%= nav_item_is_active({controller: 'site_contents', action: 'index'}, {controller: 'site_contents', action: 'update'}) %>">		<a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a>
		</li>
		<li role="presentation" class="<%= nav_item_is_active({controller: 'payment_processor_settings', action: 'index'}, {controller: 'payment_processor_settings', action: 'update'}) %>">
			<a href="#payment_processor_settings" aria-controls="content" role="tab" data-toggle="tab">Payment Processors</a>
		</li>
	</ul>
	<div class="tab-content">
		<%= content_for :SiteSettingsContent %>
		<%= content_for :SiteContentsContent %>
		<%= content_for :PaymentProcessorSettingsContent %>
	</div>
<%end%>
<%= render :template => 'layouts/management' %>