<!DOCTYPE html>
<html>
<head>
  <title>GardenMarketplace</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="Header">
    <h1>Garden Marketplace</h1>
    <div id="Login">
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
        </li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
    </div>
  </div>
<div id="MainContent">
  <%= yield %>
</div>
</body>
</html>
