<!DOCTYPE html>
<html>
<head>
  <title>GardenMarketplace</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Garden Marketplace</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path %></li>
              <% if user_signed_in? && current_user.role?("Manager")%>
                  <li><%= link_to('Manage', management_index_path) %></li>
              <% end %>
            </ul>
            <ul class="navbar-text pull-right nav">
              <% if user_signed_in? %>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>        
              <% else %>
                <li><%= link_to('Login', new_user_session_path)  %></li>  
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to('Edit registration', edit_user_registration_url) %></li>
                <% if current_user.role?("Buyer") && !current_user.role?("Seller")%>
                  <li><%= link_to('Become a seller', become_seller_url)  %></li>
                <% end %>
              <% else %>
                <li><%= link_to('Sign up as a buyer', buyer_sign_up_url)  %></li>
                <li><%= link_to('Sign up as a seller', seller_sign_up_url)  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  </div>
<div id="MainContent">
  <div class="hero-unit">
    <%= content_for?(:MainContent) ? yield(:MainContent) : yield %>
  </div>
</div>
</body>
</html>
