<%content_for :MainContent do %>
<div class="container-fluid">
  <div class="subnav">
      <ul class="nav nav-pills">
        <li><%= link_to "User Search", management_user_search_path, {:id => "UserSearchNav"} %></li>
        <li><%= link_to "Approve Sellers", management_approve_sellers_path, {:id => "ApproveSellersNav"} %></li>
        <li><%= link_to "Manage Categories", management_categories_path, {:id => "ManageCategoriesNav"} %></li>
        <li></li>
      </ul>
  </div>
  <div class="container-fluid" style="margin-top: 15px;">
    <div class="row-fluid">
      <div id="ManagementLoading" style="display:none">
        <div class="span6"></div>
        <div>
          <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
        </div>
      </div>
      <div id="ManagementNotice" class="alert" style="display:none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
      </div>
      <p id="" class="notice">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </p>
    </div>
  </div>
  <div id="ManagementContent" class="container-fluid">
    <%= content_for?(:MainManagementContent) ? yield(:MainManagementContent) : yield %>
  </div>
</div>
<div id="Modal" class="modal hide fade">
</div>
<script>
  $("#Modal").modal({show:false});
</script>
<% end %>
<%= render :template => 'Layouts/application' %>