<%content_for :MainContent do %>
<div class ="container-fluid">
  <div class ="subnav">
    <ul id="SellerTab" class="nav nav-pills">
      <li class="active"><%= link_to "Current Inventory", current_inventory_seller_index_path, {:class => "sellerNav"} %></a></li>
      <li><%= link_to "Pick List", pick_list_seller_index_path, {:class => "sellerNav"} %></li>
      <li><%= link_to "Packing List", packing_list_seller_index_path, {:class => "sellerNav"} %></li>
      <li></li>
    </ul>
  </div>
  <div class="container-fluid" style="margin-top: 15px;">
    <div class="row-fluid">
      <div id="SellerLoadingImage" class="loading">
        <div class="span6"></div>
        <div>
          <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
        </div>
      </div>
      <div id="SellerNotice" class="alert fixed-alert">
      </div>
    </div>
  </div>
  <div id="SellerContent" class="container-fluid">
    <%= content_for?(:MainSellerContent) ? yield(:MainSellerContent) : yield %>
  </div>
  </div>
<%  end %>
<%= render :template => 'layouts/application' %>