<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%content_for :MainContent do %>
<div class="container-fluid">
	<div class ="row">
	  <div class ="col-md-3">
	    <div id="SellerTab" class="list-group">
	      <%= link_to "Current Inventory", seller_index_path, {class: "list-group-item #{nav_item_is_active({controller: 'seller', action: 'index'}) || nav_item_is_active('previous_index') }"} %>
	      <%= link_to "Pick List", pick_list_seller_index_path, {class: "list-group-item #{nav_item_is_active('pick_list') }"} %>
	      <%= link_to "Packing List", packing_list_seller_index_path, {class: "list-group-item #{nav_item_is_active('packing_list') || nav_item_is_active('previous_packing_list') }"} %>
		  <%= link_to "Sales Report", sales_report_seller_index_path, {class: "list-group-item #{nav_item_is_active('sales_report')}"} %>
		  <% if SiteSetting.instance.reputation_enabled %>
		  	<%= link_to "Reviews", reviews_seller_index_path, {class: "list-group-item #{nav_item_is_active('reviews')}"} %>
		  <% end %>
		  <%= link_to "Payment Settings", user_payment_settings_path, {class: "list-group-item #{nav_item_is_active({controller: 'user_payment_settings', action: 'index'})}"} %>
	    </div>
	  </div>
	  <div id="SellerContent" class="col-md-9">
	    <%= content_for?(:MainSellerContent) ? yield(:MainSellerContent) : yield %>
	  </div>
	</div>
</div>
<%  end %>
<%= render :template => 'layouts/application' %>