<%content_for :MainContent do %>
<div class ="container-fluid">
  <div class="subnav">
      <ul class="nav nav-pills">
        <li class="active"><%= link_to "Current Inventory", seller_current_inventory_path %></a></li>
        <li></li>
      </ul>
  </div>
  <div class="container-fluid" style="margin-top: 15px;">
    <div class="row-fluid">
      <div id="SellerLoadingImage" style="display:none">
        <div class="span6"></div>
        <div>
          <img src="<%= image_path("ajax-loader.gif") %>" alt="loading..."/>
        </div>
      </div>
      <div id="InventoryNotice" class="alert fixed-alert">
      </div>
      <p class="notice">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </p>
    </div>
  </div>
  <div id="SellerContent" class="container-fluid">
    <%= content_for?(:MainSellerContent) ? yield(:MainSellerContent) : yield %>
  </div>
  </div>
<div id="InventoryModal" class="modal hide fade">
</div>
<script>
  $("#InventoryModal").modal({show: false});
</script>
<%  end %>
<%= render :template => 'layouts/application' %>